.Container {
  height: 100vh;
  width: 100vw;
  background-color: red;
  background-color: var(--bg1);
  background: linear-gradient(180deg, var(--bg1) 0%, var(--bg2) 50%);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.ContentWrapper {
  width: 1000px;
  margin-top: 10vh;
}

.TableTrayContainer {
  display: flex;
  margin-top: 15px;
  height: 135px;
}

.ButtonContainer {
  width: 30%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
